

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  color: #ffffff;
}

.imageAndText img {
  width: 48px;
  height: 48px;
  border-radius:50%;
}

.text {
  display: flex;
  flex-direction: column;

  background-color: #06c; /* Пример синего цвета, как в iOS */
  padding: 8px 13px;
  border-radius: 10px 10px 0 10px;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.text:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  /* Создание треугольника с помощью границ */
  border-top: 10px solid transparent;
  border-left: 10px solid #06c; /* Цвет фона сообщения */
  right: -10px; /* Позиционирование справа */
  bottom:0;
}

.name {
  text-align: end;
  font-weight: 600;
  font-size: 16px;
}

.messageText {
  font-weight: 400;
  font-size: 16px;
}

.time {
  width: 48px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #000;
}