

.App {
    --header_height: 60px;
  margin-top: 130px;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}


.hw {
  padding: 15px 0 32px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}


.hwTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
}