.friendMessage {
  display: flex;
  flex-direction: column;
}

.friendImageAndText {
  display: flex;
  gap: 15px;
  color: #000;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  border-radius:50%;

}

.friendText {
  display: flex;
  flex-direction: column;

  background-color: #f5f7fb; /* Пример синего цвета, как в iOS */
  padding: 8px 13px;
  border-radius: 10px 10px 10px 0;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.friendText:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  /* Создание треугольника с помощью границ */
  border-top: 10px solid transparent;
  border-right: 10px solid #f5f7fb; /* Цвет фона сообщения */
  left: -10px; /* Позиционирование справа */
  bottom:0;
  box-shadow:
    0 4px 4px -2px rgba(29, 33, 38, 0.1),
    0 15px 15px -10px rgba(29, 33, 38, 0.05);
}

.friendName {
  font-weight: 600;
  font-size: 16px;
}

.friendMessageText {
  font-weight: 400;
  font-size: 16px;
}

.friendTime {
  width: 48px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #000;
}
