.sendForm {
  display: flex;
  gap: 45px;
  margin-top: 55px;
}

.textarea {
  width: 100%;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: #f5f7fb;
  font-size: 14px;
  resize: none; /* Отключает ручное изменение размера */
  outline: none; /* Убирает стандартную обводку при фокусе */
  overflow-y: auto;
}

.button {
  padding: 10px 40px;
  border-radius: 20px;
  width: 120px;
  background-color: #06c;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.button:hover {

}

.button:active {

}
