
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
  font-family: "Montserrat", sans-serif !important;
}


.textarea {
  field-sizing: fixed; /* Отключает авто-подбор размера под контент */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; /* Устанавливает размер шрифта равным размеру шрифта родительского элемента */
  font-weight: inherit;
}
